.contact {
    margin-left: 200px;
    display: flex;
}

.contact__title {
    width: 40%;
    padding-top: 150px;
}

.contact__title > h1 {
    color: teal;
    font-size: 50px;
}

.contact__title > p {
    margin-top: 25px;
    color: whitesmoke;
    font-size: 20px;
}

.container {
    margin-top: 120px;
    width: 50%;
    margin-left: 20px;
    padding: 20px;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 0;
  background: #2b2b2b;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

form > button {
  background-color: #1d1d1d;
  color: #fff;
  padding: 12px 20px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  cursor: pointer;
}

form > button:hover {
  background-color: whitesmoke;
  color: #111;
}


@media screen and ( max-width:600px) {
    .contact {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.contact__title {
    width: 100%;
    padding-top: 40px;
}

.contact__title > h1 {
    color: teal;
    font-size: 40px;
}

.contact__title > p {
    margin-top: 20px;
    color: whitesmoke;
    font-size: 20px;
}

.container {
    margin-top: 30px;
    width: 90%;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 0;
  background: #2b2b2b;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

form > button {
  background-color: #1d1d1d;
  color: #fff;
  padding: 12px 20px;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 20px;
}

form > button:hover {
  background-color: #fff;
  color: #111;
}

}
