@import url('https://fonts.googleapis.com/css2?family=Open+Sans,wght@0,800;1,700&display=swap');

.home__title{
  position: relative;
  padding: 7.5rem 0 0 0;
}


.home__title h1 {
  border-right: .15em solid orange;
  font-family: 'Open Sans', sans-serif;
  color: aliceblue;
  font-size: 60px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 200px;
}

.home__title h1 span {
    font-family: monospace;
    margin-right: 0.20ch;
    text-decoration: none;
    font-size: 100px;
    text-shadow: 5px 5px #08fdd8;
    color: #fd2155;
}

.home__title h1:nth-child(1) {
  width: 4ch;
  -webkit-animation: type 1s steps(3), blink .5s;
  animation: type 1s  steps(3), blink .5s ;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.home__title h1:nth-child(2) {
  width: 12ch;
  opacity: 0;
  -webkit-animation: type2 2s steps(12), blink .5s;
  animation: type2 2s steps(12), blink .5s;
  -webkit-animation-delay: 2s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.home__title h1:nth-child(3) {
  width: 6.9em;
  opacity: 0;
  -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.home > p {
  margin-left: 200px;
  margin-top: 20px;
  opacity: 0;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  animation-delay: 4.5s;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.home button {
  cursor: pointer;
  font-family: sans-serif ;
  letter-spacing: 0.25ch;
  margin-top: 20px;
  margin-left: 200px;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  padding: 20px;
  background: none;
  width: 200px;
}

.home button:hover {
  color: black;
  background: whitesmoke;
}

@keyframes animate {
  0% {
    background-position: -500%;
    opacity: 1;
  }
  100% {
    background-position: 500%;
    opacity: 1;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}